
<div class="container">
    <section id="heading">
        <div class="full-width">
            <div class="small-padding">
                <h1>Scoop n' Smiles</h1>
                <p>This site is for ordering all of your online ice cream needs.</a></p>
                <p>A person can order ice cream from 1 to 4 scoops.</a></p>
                <p>They can eat with a Waffle Cone, a Waffle Cone-Choclate Dipped, a Waffle Bowl, or a Bowl.</a></p>
            </div>
        </div>
    </section>
</div>

<!--        <section id="accordions">
            <div class="container">
                <div class="full-width">
                    <div class="small-padding">
                        <h2 class="pink-underline small-bottom-padding">Accordions</h2>
                        
                        <div class="accordion round-corners light-pink-background">
                            <div class="accordion-headline">
                                <h4>Accordion 1</h4>
                            </div>
                            <div class="accordion-content">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                            </div>
                        </div>
                        
                        <div class="accordion round-corners light-green-background">
                            <div class="accordion-headline">
                                <h4>Accordion 2</h4>
                            </div>
                            <div class="accordion-content">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                            </div>
                        </div>
                        
                        <div class="accordion round-corners light-blue-background">
                            <div class="accordion-headline">
                                <h4>Accordion 3</h4>
                            </div>
                            <div class="accordion-content">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </section>-->


<!--         <section id="forms">
                    <div class="container">
                        <div class="full-width">
                            <div class="small-padding">
                                <h2 class="blue-underline small-bottom-padding">Forms</h2>
                            </div>
                        </div>
                        <div class="third">
                            <div class="small-padding">
                                <h3>Fill Out This Form</h3>
                                <form>
                                    <label>Name *</label>
                                    <input type="text" placeholder="Emily Doe">
                                    
                                    <label>Email *</label>
                                    <input type="email" placeholder="emily@example.com">
                                    
                                    <label>Age *</label>
                                    <input type="number" placeholder="13">
                                    
                                    <label>Grade *</label>
                                    <select>
                                        <option>--</option>
                                        <option>K</option>
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                        <option>6</option>
                                        <option>7</option>
                                        <option>8</option>
                                        <option>9</option>
                                        <option>10</option>
                                        <option>11</option>
                                        <option>12</option>
                                    </select>
                                    
                                    <label>Do you like cats? *</label><br>
                                    <label><input name="do_you_like_cats" type="radio"> Yes</label><br>
                                    <label><input name="do_you_like_cats" type="radio"> No</label><br>
                                    
                                    <label><input type="checkbox" class="top-margin"> Check if you like dogs more than cats.</label><br>
                                    
                                    <label>Comment</label>
                                    <textarea></textarea>
                                    
                                    <input type="submit" value="Submit">
                                </form>
                            </div>
                        </div>
        <section>-->

<% %>
<div class="MakingIceCream">
        <section id="tables">
            <div class="MakingIceCream">
                <div class="full-width">
                    <div class="small-padding">
                        <h2 class="purple-underline small-bottom-padding">Flavors</h2>
                    </divs>
                </div>
                    <div class="accordion round-corners light-blue-background">
                        <div class="accordion-headline">
                            <h4>Ice Cream</h4>
                        </div>
                        <div class="accordion-content">
                                           <div class="half">
                    <div class="small-padding">
                        <table>
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Dairy</th>
                                
                                </tr>
                            </thead>
                            <tbody>
                                <% @flavors.each do |f| %>
                                    <tr>
                                        <td><%= f.name %></td>
                                        <td><%= f.dairy %></td>
                                    </tr>
                               <% end %>
                            </tbody>
                        </table>
                    </div>     
                        </div>
                    </div>                

                </div>
            </div>
        </section>
        
         <section id="tables">
                    <div class="MakingIceCream">
                        <div class="full-width">
                            <div class="small-padding">
                                <h2 class="purple-underline small-bottom-padding">Mix Ins</h2>
                            </divs>
                        </div>
                        <div class="accordion round-corners light-blue-background">
                            <div class="accordion-headline">
                                <h4>Mix Ins</h4>
                            </div>
                            <div class="accordion-content">
                        <div class="half">
                            <div class="small-padding">
                                <table>
                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Chocolate</th>
                                            <th>Nuts</th>
                                            <th>Fruits</th>
                                            <th>Others</th>
                                        
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% @mixes.each do |m| %>
                                            <tr>
                                                <td><%= m.name %></td>
                                                <td><%= m.choclate %></td>
                                                <td><%= m.nuts %></td>
                                                <td><%= m.fruits %></td>
                                                <td><%= m.other %></td>
                                            </tr>
                                       <% end %>
                                    </tbody>
                                </table>
                            </div>
                        </div>                                
                            </div>
                        </div>                        

                    </div>
                </section>
                 <section id="tables">
                            <div class="MakingIceCream">
                                <div class="full-width">
                                    <div class="small-padding">
                                        <h2 class="purple-underline small-bottom-padding">Toppings</h2>
                                    </divs>
                                </div>
                        <div class="accordion round-corners light-blue-background">
                            <div class="accordion-headline">
                                <h4>Toppings</h4>
                            </div>
                            <div class="accordion-content">
                                <div class="half">
                                    <div class="small-padding">
                                        <table>
                                            <thead>
                                                <tr>
                                                    <th>Name</th>
                                                    
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <% @toppins.each do |t| %>
                                                    <tr>
                                                        <td><%= t.name %></td>
                                                    </tr>
                                               <% end %>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>                                
                            </div>
                        </div>
                                
                            </div>
                        </section> 
                                 <section id="tables">
                    <div class="MakingIceCream">
                        <div class="full-width">
                            <div class="small-padding">
                                <h2 class="purple-underline small-bottom-padding">Specials</h2>
                            </divs>
                        </div>
                        <div class="accordion round-corners light-blue-background">
                            <div class="accordion-headline">
                                <h4>Specials</h4>
                            </div>
                            <div class="accordion-content">
                            <div class="half">
                            <div class="small-padding">
                                <table>
                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Description</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% @specials.each do |z| %>
                                            <tr>
                                                <td><%= z.name %></td>
                                                <td><%= z.description %></td>
                                            </tr>
                                       <% end %>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                            </div>
                        </div>
                        
                </section>
        
                 <section id="Order">
                    <div class="container small-padding">
                        <div class="full-width">
                            <h2 class="green-underline small-bottom-padding">Order</h2>
                            
                            <p>
                                <a class="button" href="/specials">Click to order a special</a>
                                <a class="purple-button" href="/originalorders">Click to make your own ice cream</a>
                            </p>
                        </div>
                    </div>
                </section>
                
</div>