<!DOCTYPE html>
<html>
<head>
<title>SheQL Project</title>
<!-- Candy CSS -->
<link rel="stylesheet" href="assets/dist/candy.css" type="text/css" media="all">
<!-- Optional custom CSS that you write -->
<link rel="stylesheet" href="assets/dist/custom.css" type="text/css" media="all">
</head>

<div class="container">
    <section id="heading">
        <div class="full-width">
            <div class="small-padding">
                <h1>Scoop n' Smiles</h1>
            </div>
        </div>
    </section>
</div>

<div class="order">
    <section id="container small-padding">
                    <div class="order">
                        <div class="full-width">
                            <div class="small-padding">
                                <h2 class="blue-underline small-bottom-padding">Thank You</h2>
                            </div>
                        </div>
                    </div>
    <section>
</div>

<div class="list">
    <section id="container small-padding">
                    <div class="order">
                        <div class="full-width">
                            <div class="small-padding">
                                <p>Hello thank you for ordering Scoop 'n Smiles ice cream. Your <%= @order.scoops %> scoop <%= @flavor.first.flavor.name %> and <%= @flavor.second.flavor.name %> ice cream in a <%= @eating %> with <%= @mixin.first.mix.name %>, <%= @mixin.second.mix.name %>, and <%= @mixin.third.mix.name %> in it. There will be <%= @topping.first.toppin.name %> and <%= @topping.second.toppin.name %> on top. If you would like to order again please press home.</p>
                            </div>
                        </div>
                    </div>
    <section>
</div>

                 <section id="End">
                    <div class="container small-padding">
                        <div class="full-width">
                            <h2 class="green-underline small-bottom-padding">
                            
                                <a class="button" href="/">Home</a>
                            </h2>
                        </div>
                    </div>
                </section>
                
<!-- jQuery -->
<script src="assets/lib/jquery-3.2.1.min.js" type="text/javascript" charset="utf-8"></script>

<!-- Candy JS -->
<script src="assets/dist/candy.js" type="text/javascript" charset="utf-8"></script>
</html>                