<div class="container">
    <section id="forms">
                    <div class="container">
                        <div class="full-width">
                            <div class="small-padding">
                                <h2 class="blue-underline small-bottom-padding">Order</h2>
                            </div>
                        </div>
                        <div class="third">
                            <div class="small-padding">
                                <h3>Make Your Own</h3>
                                <form action="/order" method="post">
                                    <label>Number of Scoops *</label>
                                    <select name="scoops">
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                    </select>
                                    
                                    <label>Eating Method *</label>
                                    <select name="eating_method">
                                        <option value="waffle_cone">Waffle Cone</option>
                                        <option value="waffle_cone_chocolate_dipped">Waffle Cone-Choclate Dipped</option>
                                        <option value="waffle_bowl">Waffle Bowl</option>
                                        <option value="bowl">Bowl</option>
                                    </select>
                                    
                                    <label>Ice Cream Flavor *</label>
                                    <select name="flavor_one">
                                        <% @flavors.each do |f| %>
                                        <option value=<%= f.id %> ><%= f.name %></option>
                                        <% end %>
                                    </select>
                                    
                                    <select name="flavor_two">
                                        <% @flavors.each do |f| %>
                                        <option value=<%= f.id %> ><%= f.name %></option>
                                        <% end %>
                                    </select>
                                    
                                    <label>Mix In</label>
                                    
                                    <select name="mixin_one">
                                        <% @mixes.each do |f| %>
                                        <option value=<%= f.id %> ><%= f.name %></option>
                                        <% end %>
                                    </select>

                                    <select name="mixin_two">
                                        <% @mixes.each do |f| %>
                                        <option value=<%= f.id %> ><%= f.name %></option>
                                        <% end %>
                                    </select>

                                    <select name="mixin_three">
                                        <% @mixes.each do |f| %>
                                        <option value=<%= f.id %> ><%= f.name %></option>
                                        <% end %>
                                    </select>
                                    
                                    <label>Topping</label>
                                    
                                    <select name="topping_one">
                                        <% @toppins.each do |f| %>
                                        <option value=<%= f.id %> ><%= f.name %></option>
                                        <% end %>
                                    </select>
                                    
                                    <select name="topping_two">
                                        <% @toppins.each do |f| %>
                                        <option value=<%= f.id %> ><%= f.name %></option>
                                        <% end %>
                                    </select>
                                <input class="button" type="submit"></input>                                    
                                </form>
                                

                            </div>
                        </div>
        <section>